* {
    margin: 0;
    padding: 0;
    text-align: center;
}
/* index */
body {
    background: url(../images/bgWall_foto1.jpg) no-repeat bottom, linear-gradient(180deg,#f3acb2,#FFFFFF);
    background-attachment: fixed;
    background-size: cover; 
    height: 100%;
    padding: 10%;
}
ul, li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.carousel-item a{
    text-decoration: none;
    color: #f3acb2;
    font-weight: bold;
}
.navbar {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}
.logo {
    color: transparent;
}
.btnLink {
    display: block;
/*    margin: 0.6em 0; */
    padding: 3px 2px;
    width: 120px;
    font-size: 0.8em;
    z-index: 1;
}
.btnLink a {
    text-decoration: none;
    font-weight: bold;
    background-color: #FDE9EB;
    border-radius: 9px;
    padding: 2px;
    border: solid 2px #333333;
    justify-content: center;
}
.btnLink a:hover, .btnMais a:hover {
    background-color: #ABA7C3;
}
.btnMais {
    background-color: #FDE9EB;
    border-radius: 9px;
    padding: 0.4em;
    border: solid 2px #5E578C;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.2em;
}
.descricao {
    color: #f3acb2;
    text-align: center; 
    margin: auto;
    padding: 2%;
    width: 60%;
    background-color: #00000090;
    border-radius: 0 30px;
    border: 1px solid #000000;
    font-size: larger;
    font-weight: bolder;
}
 .expand-on-small {
    display: none;
} 
.carousel-indicators li{
    min-width:30px;
    min-height:30px;
    -ms-flex:none ;
    flex: auto;
    border-radius: 50%;
    cursor:pointer;
    background-color:#f3acb2;
    background-clip:padding-box;
    border: 3px solid #555555;
    text-indent: 0;
    font-size: 0.8em;
    margin: auto;
}
.carousel-indicators {
/*    position:absolute; */
    right:50%;
    top: 2%;
    left:50%;
    bottom: auto;
}
.carousel-inner {
    width: 90%;
    border: 2px solid #f3acb2;
    margin: auto;
    text-align: start;
    background-color: #FDE9EB;
    padding: 8%;
    border-radius: 10%;
}
#creditos {
    clear: both; 
    float: right;
    bottom: 0;
}
.indomitas {
    clear: both; 
    float: right;
}
#indomitas img{
border-radius: 20% 20% 0 20%;
width: 30%;
}
.container2 {
    width: 80%;
    margin: auto;
    padding: 2% 5%;
    border-radius: 15%;
    background: rgb(255, 255, 255, 0.8);
}
.form-group {
    text-align: start;
    width: 100%;
}
#formularioEmail {
    margin: auto;
    width: 90%;
    border-radius: 24px;
}
#submenu img{
    display: inline;
    width: 20%;
}
#submenu img:checked{
    display: inline;
    width: 80%;
}
footer {
    clear: both;
    float: right;
    padding-left: 1.3rem;
    font-size: 0.7em;
    bottom: 0;
    right: 20%;
} 
#comment {
width: 100%;
}
#carrossel5perguntas {
    margin: auto;
    width: 90%;
    text-align: justify;
}
@media screen and (max-width: 769px) {
    body {
        background: url(../images/bgWall_foto1Small.jpg) no-repeat bottom;
        background-attachment: fixed; 
        background-size: cover;
    }
    .hidden-on-small {
      display: none;
    }
    .expand-on-small {
        display: inline;
    }
    .shrink-on-small {
        margin-left: 5px; 
        padding: auto;
        padding-top: 0;
    }
    .shrink-on-small img {
        border-radius: 10px;
        width: 240px;
    }
    .form-group {
        width: 150px;
    }
    .navbar {
        margin-left: 0;
    }
    .logo img, .descricao {
        transform: none;
    }
    #descricao {
        width: 100%;
        margin: auto;
    }
    .descricao {
    padding: 4%;
    width: 60%;
    }
    #indomitas, #informativo {
        float: none;
    }
    #indomitas img{
        border-radius: 20% 20% 0 20%;
        width: 40%;
  }
  .carousel-indicators {
        position:relative;
        right:0%;
        top: 0%;
        left:0%;
        bottom:0%;
        width: 100%;
        margin: auto;
    }
    .carousel-indicators li{
        width: auto;
        height: auto;
        -ms-flex: auto;
        flex: auto;
        border-radius: 40%;
        cursor:pointer;
        background-color:#f3acb2;
        background-clip:padding-box;
        border: 1px solid #555555;
        font-size: 0.6em;
        margin: auto;
        padding: 3px 3px;
    }
    .carousel-indicators li:hover{
        background-color:#5E578C;
    }
}

div.img img {
    width: 80%;
    cursor: pointer;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

/* Add Responsiveness */
.responsive {
    float: left; 
    width: 24.99999%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}


/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*
    .linhas {
        display: inline;
    }
    .linhas img{
        width: 70%;
    }
#informativo {
    width: 50%;
    float: right;
}
#sobreBravissimo {
    width: 100%;
    clear: both;
}
#sobreBravissimo .nav-link {
    height: 50px;
    margin-top: 100px;
}
.blocoNotas {
    min-width: 240px;
    height: 240px; 
    padding: 10px 5px 10px 15px;
    background: #5E578C url(../images/mulher_megafone.png) fixed no-repeat;
    background-size: contain;
    border-radius: 12px;
}
.notas {
    text-align: justify;
    font-size: 0.8em;
    margin: auto;
}
.fonte {
    font-style: italic;
    font-size: 0.6em;
    color: #5E578C;
    text-align: end;
}

#superiorCentro {
    min-width: 240px;
}
#card1, #card2, #card3 {
    background: url("../images/mulher_megafone.png") no-repeat;
    background-size: cover; 
    margin: auto;
    height: 12rem;
    width: 18rem;
    border-radius: 12px;
}
#what, #why, #how, #who {
    background: rgb(255, 255, 255, 0.8);
    margin: auto;
    height: 200px;
    width: 80%;
    border-radius: 24px;
}

#carrossel5perguntas {
    margin: 50px auto auto auto;
    width: 90%;
    text-align: justify;
}
.carousel-indicators {
    position: relative;
}
.logo img {
    border-radius: 10px;
    width: 250px;
    transform: rotate(-15deg);
}
#inferiorDireito img {
    width: 120px;
}
*/  